* {
    margin: 0;
    padding: 0;
  }

/*
    Muss Höhe und Breite 100% haben, sonst nicht über ganze Seite (FF 5)
*/
html, body
{
    height: 100%;
    width: 100%;
}

body 
{
    background-image: url('../img/layout/bg.jpg');
}

/* IE Workaround: Text nach außen schieben und die Outline (punkte darunter) entfernen. Stellt zusätzlich barrierefreiheit her.
   Idee selbst entwickelt und bei: http://www.webmasterpro.de/coding/article/css-verweistexte-von-links-verstecken.html verifiziert.
 */
a 
{
    text-indent: -9999px;
}

a:hover, a:focus
{
    outline:none;
}
/* IE Workaround Ende */

/* Definition der Lesezeichen 
    - Display: Block, damit die Größenangaben richtig interpretiert werden
    - Realisierung des Mouseovers mit Hilfe von Pseudoklassen (":hover")
*/
a.sticky, #ecke, #start_ecke, #aufklapp, #logo, #ohneAufklapp
{
    position:absolute;
    display: block; 
}
a.sticky
{
    width: 200px;
    height: 70px;
    left: 757px;
    background: transparent;
}

    /*|Oliver| Diese ID definiert die Eigenschaften der unteren rechten Ecke*/
#ecke
{   
    width: 100px;
    height: 169px;
    left: 708px;
    top: 517px;
    background:#fff url('../img/layout/ecke_klein.jpg') no-repeat 0 0;
    }
    
    /*|Oliver| Diese ID definiert die Mouseover-Eigenschaften der unteren rechten Ecke*/
#ecke:hover
{
    background:#fff url('../img/layout/ecke_gross.jpg') no-repeat 0 0;
}

#start_ecke
{   
    width: 96px;
    height: 151px;
    left: 712px;
    top: 536px;
    background:url('../img/layout/starteckeklein.png') no-repeat 0 0;
    }
    
    /*|Oliver| Diese ID definiert die Mouseover-Eigenschaften der unteren rechten Ecke*/
#start_ecke:hover
{
    background:url('../img/layout/startecke.png') no-repeat 0 0;
}

/* Kai | Zusammenfassung der Elemente */    
#ohneAufklapp, #aufklapp
{
    width: 128px;
    height: 609px;
    left: 0px;
    top: 78px;
}

table *
{
    border: solid;   
}

#ohneAufklapp
{
    background:#fff url('../img/layout/aufklapp_ohneknick.jpg') no-repeat 0 0;
}
    
    
    /*|Oliver| Diese ID definiert die Eigenschaften der aufklappenden Buchseite*/
#aufklapp
{   
    background:#fff url('../img/layout/aufklapp_klein.jpg') no-repeat 0 0;
}
    /*|Oliver| Diese ID definiert die Mouseover-Eigenschaften der aufklappenden Buchseite*/
#aufklapp:hover
{
    background:#fff url('../img/layout/aufklapp_gross.jpg') no-repeat 0 0;
    }


    /*|Oliver| Diese ID definiert die Eigenschaften des Logo-Bereichs*/
#logo
{   
    width: 554px;
    height: 234px;
    left: 210px;
    top: 50px;
}

#logo_steckbrief
{   
    left: 250px;
    top: 80px;
    position:absolute;
}


#logo_start

{
    width: 626px;
    height: 616px;
    left: 180px;
    top: 70px;
    background: url('../img/layout/logo_start.png') no-repeat 0 0;
    
    position:absolute;
}

    

    /*|Oliver| Diese ID definiert die Eigenschaften des Inhaltsbereichs*/
#inhalt, #quizinhalt, #inhalt_steckbrief
{
    position:absolute;
    width: 510px;
    top:180px;
    left:260px;
    font-family:Courier New;
    text-align:justify;
    font-size:small;
    font-weight:bold;
}

#quizinhalt
{
    top:150px;
    width: 520px;
}

#inhalt_steckbrief
{
    top:400px;
    width: 520px;
}

#inhalt_links, #inhalt_rechts
{
    position:absolute;
    padding-left:10px;
    padding-right:10px;
}
    
    /*|Oliver| Diese ID definiert die Eigenschaften der linken Seite des Inhaltsbereichs*/
#inhalt_links
{   
    width:190px;
    height:370px;
    top:50px;
    left:0px;
}

    /*|Oliver| Diese ID definiert die Eigenschaften der rechten Seite des Inhaltsbereichs*/
#inhalt_rechts
{   position:absolute;
    width:280px;
    height:430px;
    left:210px;
}


    /*|Oliver| Diese Class definiert die Eigenschaften der Tabellenelemente, die eine Frage enthalten.*/
.frage
{
    font-weight:bold;
    font-size:large;
    width:520px;
}

/*|Oliver| Diese Class definiert die Eigenschaften der Tabellenelemente, die eine Antwort enthalten.*/
.antwort
{
   padding-left:0px;
}

/*|Oliver| Diese Class definiert die Eigenschaften der Radiobuttons*/
.radiobutton, .radiobutton_active
{
    width:20px;
    height:20px;   
}

.radiobutton
{
    background: url('../img/layout/kaestchen_normal.png') no-repeat 0 0;
}

.radiobutton_active
{
    background: url('../img/layout/kaestchen_angekreuzt.png') no-repeat 0 0;   
}

.result
{
    padding-left:0px;
    width:40px;
    height:20px;
}

.frageBild
{
    width:120px;  
    height:120px; 
}

/*|Oliver| Diese Class definiert die Hover-Eigenschaften der Radiobuttons*/
.radiobutton:hover
{
    background: url('../img/layout/kaestchen_mouseover.png') no-repeat 0 0;
}

/*|Oliver| Diese Class definiert die Eigenschaften des Abschicken-Buttons*/
#abschicken
{
    background: url('../img/layout/abschicken.png') no-repeat 0 0;
    width:130px;
    height:30px;
    margin-left:190px;
    
}

/*|Oliver| Diese Class definiert die Hover-Eigenschaften des Abschicken-Buttons*/
#abschicken:hover
{
    background: url('../img/layout/abschicken_mouseover.png') no-repeat 0 0;
}


/*|Oliver| Diese Class definiert die Eigenschaften des Abschicken-Buttons*/
#zuruecksetzen
{
    background: url('../img/layout/zuruecksetzen.png') no-repeat 0 0;
    width:130px;
    height:30px;
}

/*|Oliver| Diese Class definiert die Hover-Eigenschaften des Abschicken-Buttons*/
#zuruecksetzen:hover
{
    background: url('../img/layout/zuruecksetzen_mouseover.png') no-repeat 0 0;
}

.question_area
{
    width:100%;
    background-color:Gray;
    height:auto;
}

.question_text
{
    width:100%;
    background-color:Red;
    float:left;   
}

.question_picture
{
    width:120px;
    float:left;
    background-color:Blue;
    height:120px;
}

.question_answer_area
{
    float:left;
    height:40px;
    width:400px;
}

.question_answer_text
{
    height:100%;
    float:left;
    width:340px;
    background-color:Green;
    display:table;
}

.question_answer_box
{
    width:20px;
    height:100%;
    float:left;
    background-color:Black;   
}

.question_answer_result
{
    width:40px;
    height:100%;
    float:left;
    background-color:Lime;   
}

tr
{
    height:40px;   
}

/*|Oliver| Diese Class definiert die Eigenschaften des Quiz-Auswertungsbereichs*/
#auswertung
{
    background-color:white;
    width:490px;
    height:100px;
    
}

.steckbrief_links
{   
    width:250px;
}


#mouseoverkasten

{
    visibility:hidden;
}


.hoverit:hover
{
    background-color:Black;
    visibility:visible;
}


#alleinselnaufderkarte {
position: relative;
width: 244px;
height: 225px;
background: url('../img/inhalt/steckbrief_karte.png') no-repeat;
}
#alleinselnaufderkarte div
{
display: block;
position: absolute;
}
#alleinselnaufderkarte a {
display: block;
text-indent: 0px;
/*text-decoration: none;*/
/*outline: none;*/
cursor: default;
}
#inseluntenlinks
{
    width:67px;
    height:104px;
    left: 32px;
    top: 80px;
    z-index:2;
    position:absolute;
}
#inselobenlinks
{
    width:116px;
    height:85px;
    left: 22px;
    top: 12px;
    z-index:1;
}
#inseluntenrechts
{
    width:96px;
    height:123px;
    left: 133px;
    top: 84px;
}
#inseluntenlinks:hover {
    background: url('../img/inhalt/steckbrief_insel_untenlinks.jpg') -0px -0px no-repeat;
}
#inselobenlinks:hover {
    background: url('../img/inhalt/steckbrief_insel_obenlinks.png') -0px -0px no-repeat;
}
#inseluntenrechts:hover {
    background: url('../img/inhalt/steckbrief_insel_untenrechts.jpg') -0px -0px no-repeat;
}


#alleinselnaufderkarte div span {display: none;}
#alleinselnaufderkarte div:hover span {
   display: block;
   position: absolute; 
   top: 0px; 
   left: 100px; 
   width: 158px;
   padding: 5px; 
   z-index: 100;
   color: #000000; 
   background: #FFFFCC;
   font: 12px Verdana, sans-serif; 
   text-align: center;
   border: 1px dashed black;
   }





#versalien
{
    
}


